footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    align-items: center;
    /* Centra el contenido verticalmente */
    color: #a2b5cd;
    background-color: rgb(41, 14, 130);
    /* Agrega un espacio alrededor del contenido */
    font-size: 16px;
    text-align: center;
    padding-top: 1rem;
}

footer img {
    width: 3rem;
    border-radius: 15px;
}

footer .top {
    width: 100%;
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
    margin-bottom: 10px;
    /* Agrega un margen inferior para separar los elementos */
}

footer .bottom {
    margin: 10px 0 10px 0;
  /* Agrega un margen inferior y superior para separar los elementos */
}